@import "../../../assets/scss/sizes.scss";
@import "../../../assets/scss/mixins.scss";

$map-width: calc(100vw - 850px);
$card-padding: 20px;

.container {
  :global(.list) {
    padding: 25px;
    margin-right: calc(#{$map-width});

    :global(.filters) {
      display: flex;
      align-items: center;
      margin-top: 20px;

      :global(.btn) {
        border: 1px solid #dadada;
        border-radius: 50px;
        margin-right: 10px;
        padding: 5px 15px;
        cursor: pointer;

        &:hover,
        &:global(.active) {
          border-color: #333;
        }

        &:global(.active) {
          border-width: 2px;
        }
      }
    }

    :global(.card) {
      box-shadow: 0 0 5px #00000025;
      margin: 20px 0;
      padding: $card-padding;
      border-radius: 15px;
      height: 250px;
      display: flex;
      position: relative;
      cursor: pointer;

      :global(.thumbnail) img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-color: #cecece;
        margin-right: 20px;
        border-radius: 10px;
      }

      :global(.content) {
        :global(.divider) {
          height: 1px;
          width: 50px;
          background-color: #dadada;
          margin: 10px 0;
        }

        :global(.rating) {
          position: absolute;
          bottom: $card-padding;
          display: flex;
          align-items: center;

          :global(.icon) * {
            color: #333;
            margin-right: 5px;
          }
        }

        :global(.pricing) {
          position: absolute;
          bottom: $card-padding;
          right: $card-padding;

          span {
            font-size: 18px;
            font-weight: 600;
          }
        }

        :global(.fav-btn) {
          @include btn-icon();
          position: absolute;
          top: 8px;
          right: 10px;
          cursor: pointer;
          width: 40px;
          height: 40px;

          &:hover {
            background-color: #f1f1f1;
          }

          :global(.icon) * {
            color: #333;
            font-size: 22px;
            margin-bottom: -2px;
          }
        }
      }
    }

    :global(.pagination) {
      width: fit-content;
      margin: 50px auto 25px auto;
      display: flex;
      align-items: center;

      :global(.btn) {
        @include btn-icon();
        margin: 0 5px;
        width: 35px;
        height: 35px;
        border: none;
        background-color: unset;

        * {
          color: #333;
        }

        &:hover {
          background-color: #f1f1f1;
        }

        &:global(.active) {
          background-color: #333;

          * {
            color: #fff;
          }
        }

        &:disabled {
          background-color: unset;
          cursor: not-allowed;

          * {
            color: #dadada;
          }
        }
      }
    }
  }

  :global(.map) {
    position: fixed;
    top: $header-height;
    right: 0;
    background-color: #cecece;
    width: $map-width;
    height: 100vh;
  }
}
